[submodule "external/NVSE"]
	path = external/NVSE
	url = https://github.com/xNVSE/NVSE.git
[submodule "external/CommonLibFNV"]
	path = external/CommonLibFNV
	url = https://github.com/acont95/CommonLibFNV
[submodule "external/simpleini"]
	path = external/simpleini
	url = https://github.com/brofield/simpleini.git
